
<div class="container fav">
  <div class="card-favorite">
      <div class="niveau">
        <div class="titre w-100">
        <h1 class="text-muted"> Mon tableau de bord</h1>
         <div class="badges d-flex flex-column justify-content-center align-items-center">
          <h4>Bravo ! Tu as ajouté ton premier favoris !  </h4>
            <%=image_tag('firstgreen.svg', class: "svg_img gros") %>
        </div>

        </div>
        <div class="text">
          <h4>Niveau 1/5 </h3>
          <p class="text-muted">Réalise ta première mission pour passer à l'étape suivante ! </p>
        </div>
          <div class="jauge">
            <div class="skills progress">10%</div>
          </div>



        <div class="  flexbox justify-content-between">
            <%=image_tag('firstgreen.svg', class: "svg_img") %>
            <%=image_tag('2.svg', class: "svg_img") %>
            <%=image_tag('5.svg', class: "svg_img") %>
            <%=image_tag('10.svg', class: "svg_img") %>
            <%=image_tag('15.svg', class: "svg_img") %>
        </div>

      </div>

      <div class="missions-cards">
        <% current_user.favorites_missions.each do |mission| %>
          <div  class="card mission-card">
            <div class="mission_card" id="mission-<%= mission.id %>">
                <% if user_signed_in? %>
                <%= render "missions/toggle_favorite", mission: mission, user: current_user, from: 'user_favorites' %>
                <% end %>
              <h1><%= mission.title%></h1>
              <h5><%= mission.lieu %></h5>
              <h4><%= mission.asso.name.capitalize %></h4>
              <p><%= mission.type_mission %></p>
              <%# <h4><%= mission.dispo %>
              </div>
              <div class="d-flex justify-content-between">
                <a href="mailto:habitathumanismelyon@gmail.com?subject=%20Participation%20à%20la%20mission%20N°1982&" target="_blank" class="btn btn-success">Contacter l'Asso</a>
                <a href="#" target="_blank" class="btn btn-primary">Mission réalisée</a>
                </div>
              </div>
             <% end %>
      </div>
  </div>
</div>

