
<div class="container fav">
  <div class="card-favorite">
      <div class="niveau">
        <div class="titre">
        <h1> Mon tableau de bord</h1>
        </div>
        <h4>Débutant </h3>
          <div class="jauge">
            <div class="skills progress">10%</div>
          </div>

        <div class="badges flexbox">
          <h5>Bravo ! Tu as ajouté ton premier favoris !  </h5>
            <%=image_tag('first.svg', class: "svg_img") %>
        </div>
      </div>

      <div class="missions-cards">
        <% current_user.favorites_missions.each do |mission| %>
          <div  class="card mission-card">
            <div class="mission_card" id="mission-<%= mission.id %>">
                <% if user_signed_in? %>
                <%= render "missions/toggle_favorite", mission: mission, user: current_user, from: 'user_favorites' %>
                <% end %>
              <h1><%= mission.title%></h1>
              <h5><%= mission.lieu %></h5>
              <h4><%= mission.asso.name.capitalize %></h4>
              <p><%= mission.type_mission %></p>
              <%# <h4><%= mission.dispo %>
              </div>
              <div class="d-flex justify-content-between">
                <a href="mailto:habitathumanismelyon@gmail.com?subject=%20Participation%20à%20la%20mission%20N°1982&" target="_blank" class="btn btn-success">Contacter l'Asso</a>
                <a href="#" target="_blank" class="btn btn-primary">Mission réalisée</a>
                </div>
              </div>
             <% end %>
      </div>
  </div>
</div>

