<h2><%= @user.first_name %></h2>
<p><%= @user.last_name %></p>
<p><%= @user.email %></p>
<p><%= @user.address %></p>
<p><%= @user.city %></p>
<p><%= @user.postal_code %></p>
<p><%= @user.phone_number %></p>
