<div class="container max-height-100vh">
  <div class="">
    <h1>Mon Profil 🧑‍💻 </h1>
    <%= image_tag('avatar.svg', class: "avatar_profil") %>
    <p> <strong>Margaux Gaudriot</strong></p>
    <p> <%= @user.email %> </p>
    <p> 21 rue des capucins 69001 Lyon</p>
    <p> 06 84 03 05 83</p>
    <a> Modifier mes informations </a>
  </div>
  <div class="">
    <h1> Mes favoris ⭐️ </h1>
    <div class="cards col-12">
      <% current_user.favorites_missions.each do |mission| %>
        <div class="card mission_card" id="mission-<%= mission.id %>">
          <h1><%= mission.asso.name.capitalize %></h1>
          <h2><%= mission.title%></h2>
          <p><%= mission.type_mission.capitalize %></p>
          <%#<%= mission.date_mission %>
          <h4><%= mission.dispo %><h4>
          <h5><%= mission.lieu %></h5>
          <%# <%= mission.web_scraper_start_url %>
          <% if user_signed_in? %>
            <%= render "missions/toggle_favorite", mission: mission, user: current_user, from: 'user_profile' %>
          <% end %>
         <a href="mailto:pierre.thomas9@orange.fr?subject = Feedback&amp;body = Message" target="_blank" class="btn-blue">Contact me</a>
        </div>
      <% end %>
    </div>
  </div>
</div>


