<h2><%= @restaurant.first_name %></h2>
<p><%= @restaurant.last_name %></p>
<p><%= @restaurant.email %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.city %></p>
<p><%= @restaurant.postal_code %></p>
<p><%= @restaurant.phone_number %></p>
