<div class="home_banner">
   <div class="row">
      <div class="col-lg-6">
        <div class="text">
          <h1>Impact'Asso </h1>
          <h2>Agis facilement pour des causes qui te tiennent à coeur</h2>
          <span>La solution pour trouver facilement des associations et des missions de bénévolat qui te ressemblent, autour de chez toi!</span>
        </div>
        <div class="form-group ">
          <%= form_tag search_path, method: :get do %>
            <label for="asso">asso</label>
            <input type="radio" name="kind" value="assos" id="asso" checked="">
            <label for="mission">mission</label>
            <input type="radio" name="kind" value="missions" id="mission">
            <div class="form-group input-text">
              <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Trouver une asso" %>
              <%= submit_tag "Rechercher", class: "btn btn-primary " %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-lg-6">
        <%= image_tag "9814.jpg", class: "img_preview" %>
      </div>
   </div>
</div>
<div class="container max-height-100vh">
  <div class="mapbox">
    <h3> Autour de moi </h3>
    <div class="map_style" id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-image-selected="<%= image_url('pin_selected.svg') %>"
      data-image-unselected="<%= image_url('pin_unselected.svg') %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

