<div class="form-group col-12">
  <h1>Rechercher une mission</h1>
      <%= form_tag missions_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Trouver une mission 🔎"
          %>
          <%= submit_tag "Rechercher", class: "btn btn-primary " %>
      <% end %>
  </div>
<div class="main-container">
  <div class="col-6">
   <div class="cards side-container" id="mission-cards">
    <% @missions.each do |mission| %>
      <div class="card mission-card" id="mission-<%= mission.id%>">
       <%= content_tag "div style=display:none; id=mission#{mission.id}-data", mission.asso.to_json%>
          <%= link_to mission_path(mission) do%>
              <h1><%= mission.title%></h1>
            <%# <h2><%= mission.asso.name.capitalize%</h2> %>
              <p><%= mission.type_mission %></p>
              <h4><%= mission.dispo %><h4>
              <h5><%= mission.lieu %></h5>
            <% if user_signed_in? %>
              <%= render "missions/toggle_favorite", mission: mission, user: current_user, from: 'missions_index' %>
            <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
  <div  class="col-6">
    <div class="displayasso">
      <div class="assoimgbg">
        <%= image_tag "9814.jpg", class: "img_preview", id:'placeholder' %>
        </div>
    </div>
  </div>
</div>
