<ul>
  <% @missions.each do |mission| %>

    <li><%= mission.asso.name.upcase %></li>
    <li><%= mission.title %></li>
    <li><%= mission.lieu %></li>
    <li><%= mission.type_mission %></li>
    <li><%= mission.date_mission %></li>
    <li><%= mission.dispo %></li>
    <li><%= mission.web_scraper_start_url %></li>
  <% end %>
</ul>

