
<div class="container">
<div class="main-container">
<div class="show-card col-12 col-lg-12">
      <h2><%= @mission.title %></h2>
      <h1><img class="svg_img" src="/assets/default_image-f7f40a3f41f244ae0e7a1caa09c1295961a24a58b9a9c0998843a21af6280024.svg"></h1>
      <li> <strong>Lieu :</strong> <%= @mission.lieu %></li>
      <li> <strong>Disponibilitée demandée :</strong> <%= @mission.dispo %></li>
      <li> <strong>Type de mission :</strong> <%= @mission.type_mission %></li>
      <li> <strong>date de mission :</strong> <%= @mission.date_mission %></li>
</div>
</div>
</div>
<%# <%= link_to "add to favorites",  %>
