<h2><%= @mission.title %></h2>

<div>
  <ul>
    <li><strong>Lieu : </strong><%= @mission.lieu %></li>
    <li><strong>Dispo : </strong><%= @mission.dispo %></li>
    <li><strong>Type de mission : </strong><%= @mission.type_mission %></li>
    <li><strong>Date : </strong><%= @mission.date_mission %></li>
  </ul>
</div>



<%# <%= link_to "add to favorites",  %>
