
<div class="container">
<div class="main-container">
<div class="show-card col-12 col-lg-12">
      <h2><%= @mission.title %></h2>
      <li class="li-none"> <strong>Lieu :</strong> <%= @mission.lieu %></li>
      <li class="li-none"> <strong>Disponibilitée demandée :</strong> <%= @mission.dispo %></li>
      <li class="li-none"> <strong>Type de mission :</strong> <%= @mission.type_mission %></li>
      <li class="li-none"> <strong>date de mission :</strong> <%= @mission.date_mission %></li>
      <div class="d-flex justify-content-between align-items-center">
      <% if current_user %>
	     <%= render "missions/toggle_favorite", mission: @mission, user: current_user, from: 'mission_show' %>
          <a href="mailto:asso@orange.fr?subject=%20Participation%20à%20la%20mission%20N°1982&" target="_blank" class="btn-blue">Contacter l'Asso</a>
      <% end %>
</div>
</div>
</div>
