
  <div class="col-sm-8 offset-sm-2">

    <%= form_tag assos_path, method: :get do %>
      <div class="form-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Trouver une asso"
        %>
      </div>
      <%= submit_tag "Rechercher", class: "btn btn-primary " %>
    <% end %>
    <div id="assos">
      <% @assos.each do |asso| %>
        <div class="card">
          <div class="card-body">
            <h2><%= link_to asso.name.capitalize, asso_path(asso)  %></h2>
            <p><%= asso.description.downcase %></p>
            <%= image_svg(asso) %>
            <h5><%= asso.city %></h5>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
