<div class="container max-height-100vh">




  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div id="assos">
           <%= form_tag assos_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "btn btn-primary",
        placeholder: "Find an asso"
      %>
      <%= submit_tag "Rechercher", class: "btn btn-primary" %>
      <% end %>

        <% @assos.each do |asso| %>
          <h4><%= asso.name %></h4>
          <p><%= asso.description %></p>
        <% end %>
      </div>
    </div>
  </div>

</div>
