
<div class="main-container">

  <div class=" col-6">
      <div class="map_style map" id="map"
        style="width: 100%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>

  <div class="col-6 ">
    <div class="container">
      <div class="form-group col-12">
        <%= form_tag assos_path, method: :get, class:"d-flex justify-content-between align-items-end" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: " Que recherchez-vous? 🔎"
            %>
            <%= submit_tag "Rechercher", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="cards side-container">
      <% @assos.each do |asso| %>
        <%= link_to asso_path(asso)do %>
            <div class="card">
              <h1><%=asso.name.capitalize.truncate(50)%></h1>
              <p><%= asso.description.capitalize.truncate(150) %></p>
              <%= image_svg(asso) %>
              <h2><%= asso.city %></h2>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
    <%= render 'shared/footer' %>
