<div class="main-container">
  <div class="col-6">
    <div class="mapbox">
      <div class="map_style map" id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        data-image-selected="<%= image_url('pin_selected.svg') %>"
        data-image-unselected="<%= image_url('pin_unselected.svg') %>">
      </div>
      </div>

  </div>
  <div class="col-6">
    <div class="container">
      <div class="form-group col-12">
        <%= form_tag assos_path, method: :get, class:"d-flex justify-content-between align-items-end" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: " Trouver une asso 🔎"
            %>
            <%= submit_tag "Rechercher", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="cards side-container">
      <% @assos.each do |asso| %>
        <div class="card asso-card" data-asso-id="<%= asso.id %>">
          <%= link_to asso_path(asso) do%>
            <h1><%=asso.name.capitalize.truncate(50) %></h1>
            <p> <strong>Total de mission :</strong> <%= asso.total_mission %></p>
            <p><%= asso.description.capitalize.truncate(150) %></p>
            <%= image_svg(asso) %>
            <h2><%= asso.city %></h2>
          <% end %>
        </div>
      <% end %>
     </div>
  </div>
</div>
