<div class="card">
  <div class="card-body">
    <h1><%= @asso.name.capitalize %></h1>
        <p><%= link_to "⬅", assos_path %></p>
      <p><%= @asso.description %></p>
      <p><%= @asso.address %> , <%= @asso.zipcode%> - <%= @asso.city%></p>

    <h4> Missions en ligne :</h4>
    <ul>
      <%= @missions_around_me.each do |mission| %>
        <li><%= link_to mission.title, asso_mission_path(mission) %></li>
     <% end %>
    </ul>
  </div>
</div>
<div class="card">
 <div class="card-body">
   <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
